.loginform {
  height: 100%;
  width: 100%;
  padding-left: 450px;
  padding-top: 100px;
  font-family: 'Roboto', 'HelveticaNeue-Light', sans-serif;

  .mb-60 {
    margin-bottom: 60px;
  }

  .mb-20 {
    margin-bottom: 20px;
  }
  .mb-30 {
    margin-bottom: 30px;
  }
  .continue-color {
    font-size: 15px;
    background: #1f80e0;
    color: #fff;
    padding-left: 100px;
  }

  .fb-color {
    font-size: 15px;
    background: #3f51b5;
    color: #fff;
  }
  .fb-icon {
    padding-top: 10px;
    padding-left: 10px;
  }

  &__label {
    font-size: 17px;
    color: #fff;
  }

  &__button {
    height: 50px;
    width: 350px;
    border: 1px solid #1f80e0;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 50px;
    color: #1f80e0;
    background: linear-gradient(#192133, #111826);
  }

  &__text {
    font-size: 15px;
    color: #fff;
    padding-left: 150px;
  }

  &__input {
    font-size: 15px;
    color: #fff;
    width: 350px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1f80e0;

    .space {
      padding-right: 15px;
    }

    .form {
      width: 285px;
      font-size: 16px;
      border-style: none;
      outline: none;
      background: transparent;
    }
  }
}
